
<h1>About Us</h1>
<p>
    <a href="http://readyappsdev.com/">Ryan's Application</a>
    is a project to show off my new 
    <a href="http://rubyonrails.org/">Ruby on Rails</a> 
    skills. This is the sample application.
</p>